{% extends 'base2.html' %}
{% load static %}
{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">
  <!-- first row -->
  <div class="row">

    <div class="col-lg-12 col-md-6 order-1">
      <div class="row">

        <div class="col-6  mb-6">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between mb-4">
                <div class="avatar flex-shrink-0">
                  <img
                    src="{% static 'assets/img/icons/unicons/wallet-info.png' %}"
                    alt="chart success"
                    class="rounded" />
                </div>
              </div>
              <p class="mb-1">Main Balance</p>
              <h4 class="card-title mb-3">{% if balance %}${{balance}}{% else %}$0{% endif %}</h4>
              <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>
            </div>
          </div>
        </div>

        <div class="col-6  mb-6">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between mb-4">
                <div class="avatar flex-shrink-0">
                  <img
                    src="{% static 'assets/img/icons/unicons/wallet-info.png' %}"
                    alt="wallet info"
                    class="rounded" />
                </div>
              </div>
              <p class="mb-1">Active Investment</p>
              <h4 class="card-title mb-3">{% if invest %}${{invest}}{% else %}$0{% endif %}</h4>
              <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +28.29%</small>
            </div>
          </div>
        </div>


        <!-- confuse -->

        <div class="col-6  mb-6">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between mb-4">
                <div class="avatar flex-shrink-0">
                  <img
                    src="{% static 'assets/img/icons/unicons/wallet-info.png' %}"
                    alt="wallet info"
                    class="rounded" />
                </div>
              </div>
              <p class="mb-1">Investment Earnings</p>
              <h4 class="card-title mb-3">{% if earning %}${{earning}}{% else %}$0{% endif %}</h4>
              <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +58.12%</small>
            </div>
          </div>
        </div>
        


        <div class="col-6  mb-6">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between mb-4">
                <div class="avatar flex-shrink-0">
                  <img
                    src="{% static 'assets/img/icons/unicons/wallet-info.png' %}"
                    alt="wallet info"
                    class="rounded" />
                </div>
              </div>
              <p class="mb-1">Withdrawals</p>
              <h4 class="card-title mb-3">{% if confirm %}${{confirm}}{% else %}$0{% endif %}</h4>
              <small class="text-success fw-medium"><i class="bx bx-up-arrow-alt"></i> +18.42%</small>
            </div>
          </div>
        </div>



      </div>
    </div>
    <!-- Income Progress -->
    <div class="col-12 col-lg-6 order-2 order-md-3 order-xxl-2 mb-6">
      <div class="card">
        <div class="row row-bordered g-0">
          <div class="col-lg-12">
            <div class="card-header d-flex align-items-center justify-content-between">
              <div class="card-title mb-0">
                <h5 class="m-0 me-2">Income Progress</h5>
              </div>
              
            </div>
            <div id="incomeChart" class="px-3"></div>
          </div>
          <div class="col-lg-12 d-flex align-items-center">
            <div class="card-body px-xl-9">
              
              <div id="growthChart"></div>
              <div class="text-center fw-medium my-6">{% if percent %}{{percent}}%{% else %}0{% endif %}% Investment Growth</div>

              <div class="d-flex gap-3 justify-content-between">
                <div class="d-flex">
                  <div class="avatar me-2">
                    <span class="avatar-initial rounded-2 bg-label-primary"
                      ><i class="bx bx-dollar bx-lg text-primary"></i
                    ></span>
                  </div>
                  <div class="d-flex flex-column">
                    <h6 class="mb-0 pt-2">{% if earning %}${{earning}}{% else %}$0{% endif %}</h6>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="avatar me-2">
                    <span class="avatar-initial rounded-2 bg-label-info"
                      ><i class="bx bx-wallet bx-lg text-info"></i
                    ></span>
                  </div>
                  <div class="d-flex flex-column">
                    <h6 class="mb-0 pt-2">{% if confirm %}${{confirm}}{% else %}$0{% endif %}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Income Progress ends -->
  

    <!-- Transactions -->
    <div class="col-md-6 col-lg-6 order-2 mb-6">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="card-title m-0 me-2">Transactions</h5>
          <div class="dropdown">
            <button
              class="btn text-muted p-0"
              type="button"
              id="transactionID"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <i class="bx bx-dots-vertical-rounded bx-lg"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
              <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
              <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
              <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
            </div>
          </div>
        </div>
        <div class="card-body pt-4">
          <ul class="p-0 m-0">
            {% for i in data %}
            <li class="d-flex align-items-center mb-6">
              <div class="avatar flex-shrink-0 me-3">
                <img src="{% static 'assets/img/icons/unicons/wallet.png' %}" alt="User" class="rounded" />
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <small class="d-block">{{i.action}}</small>
                  <h6 class="fw-normal mb-0">{% if i.status %}<span class="text-success">successful</span>{% else %}<span class="text-danger">pending</span>{% endif %}</h6>
                </div>
                <div class="user-Newgress d-flex align-items-center gap-2">
                  <h6 class="fw-normal mb-0">{% if i.action == 'Deposit' %}+{{i.amount}}{% else %}-{{i.amount}}{% endif %}</h6>
                  <span class="text-muted">USD</span>
                </div>
              </div>
            </li>
            {% endfor %}
            
          </ul>
        </div>
      </div>
    </div>
    <!--/ Transactions -->
  </div>
</div>
<!-- / Content -->
{% endblock %}