{% extends 'base2.html' %}
{% load static %}
{% block title %}Upload Document{% endblock %}


{% block body %}
{% if form is not None %}
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
    <div class="form-bg ">
        <div class="form">
            <p class="form-text">KYC Document</p>


			{% if form.errors %}
			<div class="errors" style="color: red; border: 2px solid red; padding: 10px;">
				{{form.errors}}
			</div>
			{% endif %}
			{% for message in messages %}

            
			<center style="border: 2px solid green; padding: 10px;"><span style="color: green;">{{message}}</span></center>
			{% endfor %}

			<div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">{{form.governmental_document.label_tag}}</label>
                <div class="input-group mb-3">
                    {{form.governmental_document}}
                    <p class="text-danger pb-0 mb-0">Government document (international passport, national identification, drivers license)</p>
                </div>
            </div>

			<div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">{{form.proof_address.label_tag}}</label>
                <div class="input-group mb-3">
                    {{form.proof_address}}
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">{{form.bank_statement.label_tag}}</label>
                <div class="input-group mb-3">
                    {{form.bank_statement}}
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3" id="submit">Upload Document</button>
        </div>
    </div>
</form>
{% else %}
<div style="display: flex; justify-content: center; align-items: center; margin-top: 150px;">
    <i class="fa-solid fa-circle-check fa-10x" style="color: green;"></i>  
</div>
<center><p >Document Submitted Successfully <br> Awaiting Verification </p></center>
{% endif %}


<script>
    const btn = document.getElementById('submit')

    btn.addEventListener('click', (e)=>[
        btn.innerText = 'Uploading....'
    ])
</script>
{% endblock %}