{% extends 'base2.html' %}
{% load static %}
{% block body %}
<!-- Table  -->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 bg-opacity-0">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-200 dark:text-gray-700 bg-opacity-0">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Sn
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
                <th scope="col" class="px-6 py-3">
                    Amount
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 bg-opacity-0 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">
                    {{forloop.counter}}
                </td>
                <td class="px-6 py-4">
                    {{item.action}}
                </td>
                <td class="px-6 py-4">
                    {{item.amount}}
                </td>
                
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        {% if item.status %}
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Successful
                        {% else %}
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Failed
                        {% endif %}
                    </div>
                </td>
                <td class="px-6 py-4">
                    {{item.date_created.date}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}