{% extends 'base2.html' %}
{% load static %}
{% block body %}



<div class="form-bg">
    <div class="form px-4">
        <p class="form-text">Send Email</p>
        <div class="mb-3">
            <label for="email" class="form-label">To: </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject: </label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject of Message">
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="switch">
            <label class="form-check-label" for="switch">All User</label>
        </div>
        <div class="mb-3 ">
            <label for="message" class="form-label">Message: </label>
            <br>
            <textarea class="form-control" style="width: 100%;" rows="5" cols="10" id="message" name="message"
            style="border: none; box-shadow: none;">
            </textarea>
        </div>
        <button type="submit" id="reg_submit" class="btn btn-primary w-100 mt-3" style="box-shadow: none; border: none;">Send</button>
    </div>
</div>



<Script>
    const  btn =  document.getElementById('switch')
    const email = document.getElementById('email')
    const subject = document.getElementById('subject')
    const message = document.getElementById('message')
    const submit = document.getElementById('reg_submit')
    var value = false
    btn.addEventListener('click', (e)=>{
        if (value === false){
            value = true
            email.value = ''
            email.disabled = true
        }
        else{
            value = false
            email.disabled = false
            
        }
        
    })

    
    submit.addEventListener('click', ()=>{
        submit.innerText = 'Sending Mail Please wait....'
        submit.disabled = true;
        var token =  '{{csrf_token}}'
        $.ajax({
            url: '/sending_mail/',
            type: 'post',
            headers: { "X-CSRFToken": token },
            data: {
                'email' : email.value,
                'subject' : subject.value,
                'message'   : message.value,
                'value' : value

            },
            success: function(response){
                Swal.fire({
                    icon: 'success',
                    title: response.message,
                })
                submit.disabled = false
                email.value = ''
                subject.value = ''
                message.value = ''
                submit.innerText = 'Send'
            },
            error: function(error){
                Swal.fire({
                    icon: 'error',
                    title: 'Error Sending Mail',
                })
                submit.disabled = false
                email.value = ''
                subject.value = ''
                message.value = ''
                submit.innerText = 'Send'
            }
        })
    })

</Script>

{% endblock %}