{% extends 'base2.html' %}
{% load static %}
{% block body %}
<script src="https://cdn.tailwindcss.com"></script>
<section class="flex items-center justify-center mt-10 pb-10">
    <div class="p-4 sm:px-10 flex flex-col justify-center items-center text-base h-100vh mx-auto" id="pricing">
        <h4 class="text-2xl font-semibold text-center flex gap-2 justify-center mb-10">Mutual Funds(MFs)</h4>
        <div class="isolate mx-auto grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            {% if invest %}
            {% for data in invest %}
            <div class="ring-1 ring-gray-200 rounded-3xl p-8 xl:p-10">
                <div class="flex items-center justify-between gap-x-4">
                    <h3 id="tier-standard" class="text-gray-500 text-2xl font-semibold leading-8">{{data.name}}</h3>
                    <p class="rounded-full bg-blue-600/10 px-2.5 py-1 text-xs font-semibold leading-5 text-blue-600">Most popular</p>
                </div>
                <p class="mt-4 text-base leading-6 text-gray-500">Earn passive income from assets</p>
                <p class="mt-6 flex items-baseline gap-x-1">
                    <span class="text-5xl font-bold tracking-tight text-gray-500">${{data.amount}}</span>
                </p>
                <button
                    id="{{data.id}}"
                    aria-describedby="tier-extended"
                    class="submit bg-blue-600 text-white w-full shadow-sm hover:bg-blue-500 mt-6 block rounded-md py-2 px-3 text-center text-base font-medium leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
                    target="_blank">Invest now</button>
                <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-500 xl:mt-10">
                    <li class="flex gap-x-3 text-base">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true" class="h-6 w-5 flex-none text-blue-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>{{data.interest}}% interest
                    </li>
                    <li class="flex gap-x-3 text-base">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true" class="h-6 w-5 flex-none text-blue-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>${{data.returns}} returns
                    </li>
                    <li class="flex gap-x-3 text-base">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true" class="h-6 w-5 flex-none text-blue-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>{{data.duration}} days
                    </li>
                </ul>
            </div>
            {% endfor %}\
            {% else %}
            <p class="justify-center">No record found!</p>
            {% endif %}
        </div>
    </div>
</section>

<script>
    const btn = document.querySelectorAll('.submit')
    var token =  '{{csrf_token}}'
    btn.forEach((e)=>{
        e.addEventListener('click', ()=>{
            var id = e.id
            Swal.fire({
                title: "Confirmation",
                text: "You're about placing an Investment",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Invest"
                }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/mutual_processing/',
                        type: 'post',
                        headers: { "X-CSRFToken": token },
                        data: {
                            pk : id,
                        },
                        success: (response)=>{
                            Swal.fire({
                                title: "Confirmed",
                                text: "Your Investment as be Intiated successful",
                                icon: "success"
                            });
                        },
                        error: (error)=>{
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Something went wrong!",
                            });
                        }
                    })    
                }
            });
        })   
    })
</script>
{% endblock %}