{% autoescape off %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="background-color: #355EFC; height: 15vh; padding: 15px 0;">
                    <img src="{% static 'img/logo/logo1.png' %}" style="height: 50px; width: 100px; display: block; margin-left: auto; margin-right: auto;" alt="logo">
                    <center><h3 style="color: white; padding-bottom: 5px;">Transfer Notification</h3></center>
                </div>
                <div style="padding: 10px 5px;">
                    <p style="font-size: larger;">Dear <strong>{{referer}}</strong></p>
                    <p style="font-size: larger;">
                        Your recieved an internal funds transfer successfully check below for details of transaction.
                        <br>
                        Amount:{{amount}}
                        <br>
                        Username:{{user}}
                    </p>
                    <p style="font-size: larger;">
                        Thank you for choosing <a href="Saxobanking.com " style="text-decoration: none; font-size: larger;">Saxobanking</a><br>
                        Best Regards, <br>
                        Admin, <br>
                        <a href="Saxobanking.com" style="text-decoration: none; font-size: larger;">Saxobanking.com</a>

                    </p>
                </div>
                <div style="background-color: #355EFC; height: 15vh; margin-top: 15px; padding: 15px 0;">
                    <center><p style="text-transform: uppercase; color: white;">Saxobanking</p></center>
                    <center><p style="color: white;">Philip Heymans Allé 15, 2900 Hellerup, Denmark Saxo Bank A/S (Headquarters)
                    </p></center>
                    <center><h6 style="color: white;">2024©Saxobanking, inc. All rights reserved</h6></center>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
{% endautoescape %}