{% extends 'base.html' %}
{% load static %}
{% block body %}


<form method="post">
    {% csrf_token %}
    <div class="form-bg">
        {% if form.error %}
            <div class="errors">
                <p>Both password must match.</p>
            </div>
        {% endif %}
        <div class="form px-4">
            <p class="form-text"> Change Password</p>

            <div class="mb-3 ">
                <label for="exampleFormControlInput1" class="form-label">{{form.new_password1.label_tag}}</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                    {{form.new_password1}}<i id="eyes1" class="fa-solid fa-eye"></i>
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">{{form.new_password2.label_tag}}</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                    {{form.new_password2}}<i id="eyes2" class="fa-solid fa-eye"></i>
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">Reset Password</button>

        </div>
    </div>
</form>

<script>
	const hidebtn = document.getElementById('eyes1');
	const hidebtn2 = document.getElementById('eyes2');
	const password1 =  document.getElementById('id_new_password1');
	const password2  = document.getElementById('id_new_password2');
	const details = document.querySelector('.details');
	const btn = document.getElementById('reg_submit');
  
	var clicked1 = false
	var clicked2 = false

  
	hidebtn.addEventListener('click', ()=>{
	  if (clicked1 == false){
		password1.type='text'
		hidebtn.classList.remove('fa-eye')
		hidebtn.classList.add('fa-eye-slash')
		clicked1 = true
	  }
	  else{
		password1.type='password'
		hidebtn.classList.remove('fa-eye-slash')
		hidebtn.classList.add('fa-eye')
		clicked1 = false
	  }  
	})
  
  
	hidebtn2.addEventListener('click', ()=>{
	  if (clicked2 == false){
		password2.type='text'
		hidebtn2.classList.remove('fa-eye')
		hidebtn2.classList.add('fa-eye-slash')
		clicked2 = true
	  }
	  else{
		password2.type='password'
		hidebtn2.classList.remove('fa-eye-slash')
		hidebtn2.classList.add('fa-eye')
		clicked2 = false
	  }
	})
  </script>
{% endblock %}